// Main sidebar
.sidebar {
  position: fixed;
  top: 75px;
  right: 17px;
  height: 100%;
  min-width: 25px;
  display: flex;
  z-index: 3;
  max-width: 350px;

  @include tablet {
    position: relative;
    transform: none;
    border-radius: 4px;
    margin: auto;
    border-radius: 0;
    border-top: 2px solid var(--background-secondary);
    justify-content: space-between;
  }
}

// Sidebar container
.sidebar-container {
  padding-right: 20px;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 87%;

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @include mobile {
    display: flex;
    flex-direction: column-reverse;
  }
}

// Table of Contents
.toc {
  padding-right: 5px;
  background-color: var(--background-primary);
  padding: 10px;
  border-radius: 10px;

  ol {
    list-style: none;
    padding-left: 10px;
    border-left: 2px solid var(--background-secondary);
  }

  & > ol {
    padding-left: 0;
    border-left: none;
  }

  @include tablet {
    display: none;
  }
}

.toc-container {
  font-size: 1rem;
  max-height: 220px;
  overflow-y: auto;
  margin-bottom: 10px;
  border-left: 1px solid var(--text-accent);

  ul {
    list-style-type: none;
    padding-inline-start: 15px !important;
    margin-top: 0;
    margin-bottom: 0;

    &:not(:first-child) {
      margin-bottom: 3px;
    }
  }

  li {
    padding-top: 4px;
    &::before {
      content: "# " !important;
      color: var(--text-accent);
      font-size: 0.8rem;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.toc-title-container {
  display: flex;
  justify-content: flex-start;

  .toc-title {
    font-size: 1.2rem !important;
    color: var(--h6-color);
    width: fit-content;
    padding: 3px 7px 3px 0;
    border-radius: 10px 10px 0 0;
  }
}

// Backlinks
.backlinks {
  flex: 1;
  margin-top: 10px;
  background-color: var(--background-primary);
  border-radius: 10px;
  padding: 10px;

  .backlink-title {
    margin: 4px 0;
    font-size: 18px !important;
    color: var(--h6-color);
  }
}

.backlink-list {
  border-left: 1px solid var(--text-accent);
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.backlink-card {
  padding-bottom: 8px;
  border-radius: 4px;
  width: 100%;
  font-size: 1rem;
  margin-left: 10px;
  color: var(--text-accent);

  i {
    font-size: 0.8rem;
  }

  .backlink {
    margin-left: 5px;
  }
}

.no-backlinks-message {
  font-size: 0.8rem;
  color: var(--text-normal);
}

// Filetree sidebar
.filetree-sidebar {
  margin: 0;
  z-index: 10;
  padding: 10px;
  top: 0px;
  left: 0;
  position: fixed;
  height: 100%;
  background-color: var(--background-secondary);
  color: var(--text-muted);
  overflow-y: auto;
  width: 250px;

  h1 {
    font-size: 32px !important;
  }

  @include mobile {
    h1 {
      display: none;
    }

    .search-button {
      width: 100%;
      margin: 2px;
    }
  }
}